.settings {
  width: 40px;
  height: 40px;
}

.bell-settings {
  background-color: #f5f4f8;
  width: 40px;
  height: 40px;
}

.settings img {
  object-fit: cover;
  aspect-ratio: 1/1;
  position: 50% 50%;
  width: 40px;
}

.online {
  bottom: 5px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #1acb98;
}

.notify {
  top: 0px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #7550fe;
}

@font-face {
  font-family: "feather";
  src: url("./assets/feather.ttf");
}
@font-face {
  font-family: "fa-regular";
  src: url("./assets/fa-regular-400.woff2");
}

.bell {
  font-family: "feather";
  content: \ue91e;
  color: #a49eb5;
}

.signal {
  font-family: "feather";
  content: \ue91a;
  color: #a49eb5;
}

.bookmark-custom {
  font-family: "fa-regular";
  content: \uf02e;
  color: #a49eb5;
}

.stella {
  color: #ffaa46;
}

.hero {
  background-color: #7550fe;
}

.cam {
  font-family: "feather";
  content: \ue9f7;
  color: #c27f2d;
}
.users {
  font-family: "feather";
  content: \ue9f6;
  color: #c27f2d;
}
.clock {
  font-family: "fa-regular";
  content: \uf017;
  color: #c27f2d;
}

.bg-cathegory {
  background-color: #ffeeda;
}
